<% include ../partials/header %>
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center">
        <h1 style="text-center">Add A New Resource To <%= topic.text %></h1>
    </div>
    <hr>
    <div class="row justify-content-center align-items-center">
            <form action="/topics/<%= topic._id %>/resources" method="POST">
                <div class="form-group text-center">
                    <input class="form-control form-control-lg" type="text" name="resource[title]" placeholder="Title">
                </div>
                <div class="form-group text-center">
                    <input class="form-control form-control-lg" type="text" name="resource[description]" placeholder="Description">
                </div>
                
                <div class="form-group text-center">
                    <input class="form-control form-control-lg" type="text" name="resource[link]" placeholder="URL">
                </div>
                
                <div class="form-group">
                       <div class="container">
                      <div class="row">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>
                    </div>
                </div>
            </form>
            <a class="d-block text-center mt-sm-4" href="/courses">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>


