<% include ../partials/header %>
<div class="container">
    <div class = "d-flex justify-content-center">
        <div class="card" id="no-border">  
            <div class="card-body text-center">
                <h1 class="card-title"><%= course.name %></h1>
                <h2 class="card-title">Add New Topic</h2>
                <form action="/courses/<%= course._id %>/topics" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="topic[text]" placeholder="Topic">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                    <a href="/courses">Go Back</a>
                </form>
            
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>


