<% include ../partials/header %>
<p>
                      
                        <em> Resources</em>
                      
               
                        
                <div class="text-right">
                    <a class="btn btn-success" href="/topics/<%= topic._id %>/resources/new">Add New Resource</a>
                </div>
                


   <% topic.resources.forEach(function(resource){ %>
          
                        
                            <p>
                                <%= resource.titel %> 
                                <%= resource.description %> 
                            </p>
                            
                            
                <% }) %>



</p>

<% include ../partials/footer %>


