<% include ../partials/header %>
<div class="container">
 <div class="row justify-content-center align-items-center"
    <div class="row">
        <h1 style="text-center">Edit Question</h1>
        <div style="width: 90%; margin: 25px auto;">
            <form action="/questions/<%= question._id %>?_method=PUT" method="POST">
             <div class="form-horizontal">
                <div class="form-group">
                    <textarea class="form-control" rows="3" type="text" name="question[name]"><%= question.name %></textarea>
                </div>
             </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <textarea class="form-control"  rows="14" type="text" name="question[description]" ><%= question.description %></textarea>
                </div>
              </div>
             <div class="form-horizontal">
                <div class="form-group">
                    <textarea  class="form-control" rows="14"  type="text" name="question[code]" ><%= question.code %></textarea> 
                </div>
            </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/questions" class="d-block text-center mt-sm-4">Go Back</a>
        </div>
    </div>
 </div>
</div>
<% include ../partials/footer %>


